/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/** Ionic CSS Variables **/
:root {
  /* Set the font family of the entire app */
  --ion-font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

ion-content {
  --background: transparent;
}